body {
        -webkit-print-color-adjust: exact;
        margin:0;
        padding: 0;
    }
    
.full-page { 
        width:100vw; 
        height:100vh;
        max-width: 100vw;
        max-height: 100vh;
}

article.rank-certificate {
    background: url(../images/SMAC-Majestic%202017%20background%20letter.jpg);
    background-size: cover;
}

.certificates header {
    position: fixed;
    background: rgba(255,255,255,0.8);
    width: 100%;
    top:0;
    padding: 0;
    margin: 0;
}

.certificate-inside {
    padding: 9em;
    text-align: center;
    font-family: Redressed, fantasy;
}

.title h1 {
    font-size: 120px;
    font-family: Italianno, cursive;
    font-weight: 300;
    margin: 30px 0 0 0;
    line-height: 100px;
}

.intro p {
    margin: 0;
}

.name {
    font-size: 60px;
    margin: 20px 0 0 0;
    font-family: Italianno, cursive;
    line-height: 32px;
}

.rank, .date {
    font-family: Italianno, cursive;
    font-size: 40px;
    line-height: 40px;
    margin: 10px 0 0 0;
}

.stripe {
    width: 25px;
    height: 100vh;
    position: absolute;
    float:left;
    top: 0;
}

.stripe1 {left:75vw;}
.stripe2 {left:85vw;}


.smac .body p {
    margin: 1em 0 0;
}

.smac .promoted-to p {
    margin: 1.5em 0 0;
}
.details {
    background: white; padding: 5em 3em;
}

@media only screen {
    .certificates {display: none;}
}
@media only print {
    .certificates {display: block;}
}
@media only screen  {
    .details {
        padding: 5em .5em;
    }
}